/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
li{
	list-style-type: none;
}
h1,h2{
	text-align: center;
}
.video-audio{
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	border-radius: 5px;
	padding: 12px;
}
.songs-list{
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	border-radius: 5px
}
.player_one, .player_two{
	background-color: rgb(255, 255, 255);
}
video,audio{
	width: 100%;
}